/*  
    A CSS File for the main shop
    Nathan Nesbitt, 2019
*/

/*
Colour Scheme:
  #cfcfea
  #a89b9d
  #7a7265
  #c0b7b1
  #8e6e53
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .body {
    background-color: #cfcfea; 
  }

  .navbar {
    background-color: #a89b9d;
  }
  
  .container {
    padding-top: 10px;
  }
  
  /* This is the layout for all of the divs*/
  
  .slide-content {
    padding: 15px;
    font-size: 18px;
    min-height: 100%;
    /* Change this when we know the layout */
    margin-bottom: 10px;
  }
  
  .col-lg-12 {
    min-height: 100%;
  }
  
  @media (max-width: 543px) {
    /* Makes it so when the screen is small, it shrinks the size*/
    .container-fluid .row {
      min-height: 400px;
    }
    .slide-content {
      width: 100%;
    }
  }
  
  @media (min-width: 544px) {
    /* Makes it so when the screen is large, it expands the size*/
    .container-fluid .row {
      min-height: 500px;
    }
  }